<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyPortfolio</title>
    <link rel="stylesheet" href="../Styles/about.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="socialMedia">
      <a
        href="https://www.linkedin.com/in/andrei-sbirciog-128a7018a/"
        target="_blank"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/xandrei08" target="_blank">
        <i class="fab fa-github"></i
      ></a>
    </div>
    <nav id="navC">
      <a class="navL" href="../views/index.html">Home</a>
      <a class="navL" href="../views/about.html">About</a>
      <a class="navL" href="../views/portfolio.html">Showcase</a>
      <a class="navL" href="../views/contact.html">Contact</a>
    </nav>
    <h1 class="counterHeader">0%</h1>
    <div class="main">
      <div class="leftWrapper">
        <h2 id="h2">Few things about me!</h2>
        <p id="pFirst">
          I am passionate about learning the latest and greatest technologies
          wheter that is front-end or even back-end.Also in terms of work and
          engagement of a project,always i am trying to give my best and
          acomplish them before the deadlines.
        </p>
        <p id="pSecond">
          Considering that the world is in a continueing changing,the chance of
          improving the digital world through nowadays technology driven my
          desire to step forward and improve my learnt skills to the next level,
          in purpose of offering a better experience for people that interact
          with it.
        </p>
      </div>
      <div class="rightWrapper">
        <h3 class="subtitle">My Skills</h3>
        <ul class="skill">
          <a class="skills"> HTML</a>
          <a class="skills"> CSS</a>
          <a class="skills"> BootStrap</a>
          <a class="skills"> JavaScript</a>
          <a class="skills"> Vanila ES6</a>
          <a class="skills">GSAP</a>
        </ul>
        <p class="desc">
          I started to explore this world as a hobby since 2018,then in 2019 I
          managed to get a place at Coventry University, BSc Computing Sciences
          up to 2020.During that year 2019-2020 i've been studied:
        </p>
        <ul class="skillsCC">
          <a id="skillsC"> Networking</a>
          <a id="skillsC"> Cyber Security</a>
          <a id="skillsC"> Operating Systems</a>
          <a id="skillsC"> Programming (Phyton)</a>
        </ul>
        <ol id="boxes">
          <a class="box1">Since</a>
          <a class="box2">October 2020</a>
          <a class="box3">to current date</a>
          <a class="box4"> I have been taught </a>
          <a class="box5"> by Personal Mentor</a>
        </ol>
      </div>
    </div>
    <footer>
      <p id="footer">
        Programmed By:
        <span class="extra">Andrei Sbirciog / xandreix93@gmail.com</span>
      </p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script src="../JS.files/aboutGSAp.js"></script>
  </body>
</html>
