<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyPortfolio</title>
    <link rel="stylesheet" href="../Styles/index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="socialMedia">
      <a
        href="https://www.linkedin.com/in/andrei-sbirciog-128a7018a/"
        target="_blank"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/xandrei08" target="_blank">
        <i class="fab fa-github"></i
      ></a>
    </div>
    <nav id="navC">
      <a class="navL" href="../views/index.html"> Home</a>
      <a class="navL" href="../views/about.html">About</a>
      <a class="navL" href="../views/portfolio.html">Showcase</a>
      <a class="navL" href="../views/contact.html">Contact</a>
    </nav>
    <div class="overLay">
      <div id="handle"></div>
      <h1 id="h1">Welcome</h1>
    </div>
    <main class="maindHeader">
      <div id="firstHeader">
        <h3 id="h3">Welcome</h3>
      </div>
      <div id="information">
        <h4 id="hello">Hello.</h4>
        <p id="pInfo">I'm Andrei</p>
      </div>
      <div class="mainOverlay">
        <p id="availableDate">22</p>
        <p id="availableMonth">Mar</p>
        <p id="availableText">Available</p>
        <p id="infoOverlay">Junior</p>
        <p id="infOverlay2">Front End</p>
        <p id="infoOverlay3">Developer</p>
      </div>
      <div id="verticalLine"></div>
      <div id="verticalLine2"></div>
      <div id="verticalLine3"></div>
    </main>

    <footer>
      <p id="footer">
        Programmed By:
        <span class="extra">Andrei Sbirciog / xandreix93@gmail.com</span>
      </p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script src="../JS.files/loading.js"></script>
  </body>
</html>
