body {
  height: 100vh;
  width: 100vw;
  font-family: "Fira Sans", sans-serif;
  background: rgb(84, 71, 71);
  background: radial-gradient(
    circle,
    rgba(84, 71, 71, 1) 0%,
    rgba(8, 0, 0, 1) 100%
  );
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}
/* social media */
.socialMedia {
  position: absolute;
  right: 2%;
  top: 5%;
  font-size: calc(20px + 0.5em);
}

.socialMedia a {
  color: #fff;
  text-decoration: none;
}
/* Navbar css */
#navC {
  position: fixed;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  left: 2.5%;
  bottom: 5vh;
}
.navL {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 0 1.5em;
  font-size: calc(16px + 0.1em);
  font-weight: 600;
}
a.navL:hover {
  transform: translateY(-12%);
  transition: all 0.4s ease-in-out;
}
/*platforsm to attend the interview */
#platforms {
  color: #fff;
  position: absolute;
  bottom: 11%;
  right: 30%;
  opacity: 0;
}
#platforms > h1 {
  font-size: calc(12px + 0.3em);
}

/*Main content of contacts */
.mainContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100vw;
  height: 100vh;
}
.interview {
  opacity: 0;
}
.contactMe {
  position: absolute;
  left: 46%;
  top: 5%;
  text-align: center;
  width: 10vw;
}
#firstH {
  color: #fff;
  font-size: calc(25px + 0.1em);
  font-weight: 700;
}
/* Book an Interview */
.bookMe {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: calc(16px + 0.2em);
  color: #fff;
}
#secondH {
  position: absolute;
  left: 25%;
  top: 67.5%;
  color: lightpink;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  font-size: calc(22px + 0.5em);
  animation: secondH 1.2s 1;
}
@keyframes secondH {
  0% {
    transform: rotate(0deg);
    transform-origin: 0 0;
    color: #fff;
  }
  50% {
    transform: scale(0.3);
    color: #fff;
  }
  100% {
    transform: rotate(-90deg);
    transform-origin: 0 0;
    color: lightpink;
  }
}
#firstName {
  width: 22vw;
  height: 3.5vh;
}
#lastName {
  width: 22vw;
  height: 3.5vh;
}
#emailAddress {
  width: 22vw;
  height: 3.5vh;
}
#company {
  width: 22vw;
  height: 3.5vh;
}
#date {
  width: 22vw;
  height: 3.5vh;
}
#time {
  width: 22vw;
  height: 3.5vh;
}
#submit {
  position: absolute;
  left: 34.7%;
  width: 9vw;
  height: 5vh;
  font-size: calc(12px + 0.4em);
  background-color: transparent;
  color: #fff;
  border: 3px double;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#submit:hover {
  transform: scale(1.3);
  background-color: lightpink;
  color: #000;
}
/* Cards Style */
#card1 {
  display: grid;
  position: absolute;
  top: 26%;
  right: 26%;
  color: #fff;
  width: 22vw;
  height: 23vh;
  text-align: center;
  font-size: calc(12px + 0.4em);
  border: 5px double #fff;
  opacity: 0;
}
#cardsHeader {
  position: absolute;
  top: -10%;
  left: 27%;
}
#p1 {
  position: absolute;
  bottom: 0%;
  color: #fff;
  padding: 0 1em;
}
#card2 {
  display: grid;
  position: absolute;
  bottom: 24%;
  right: 26%;
  color: #fff;
  width: 22vw;
  height: 23vh;
  font-size: calc(15px + 0.4em);
  border: 4px double lightskyblue;
  opacity: 0;
  padding: 0;
  line-height: 2em;
}
#cardsHeader2 {
  position: absolute;
  top: -7%;
  left: 27%;
}
#p2 {
  position: absolute;
  left: 15%;
  bottom: 5%;
}
/*Footer */
footer > p {
  position: absolute;
  bottom: 1%;
  left: 5%;
  color: #fff;
}
.extra {
  position: absolute;
  right: -50vw;
  display: none;
  cursor: pointer;
}

footer > p:hover .extra {
  display: inline-block;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .navL {
    font-size: calc(12px + 0.1em);
  }
  #card1{
   right :24%;
  }
  #firstH {
    font-size: calc(15px + 0.5em);
  }
  #cardsHeader {
    font-size: calc(14px + 0.2em);
    top: -5%;
    right: 20%;
  }
  #p1 {
    font-size: calc(8px + 0.1em);
    bottom: 3%;
  }
  #card2{
    right:24%;
  }
  #cardsHeader2 {
    font-size: calc(10px + 0.1em);
    left: 16%;
  }
  #p2 {
    font-size: calc(8px + 0.2em);
    line-height: 2em;
  }
  #secondH {
    top:69.3%;
    left: 22%;
    font-size:calc(15px + 0.3em);)
  }
  #platforms {
    bottom: 11%;
  right:13%;
  }
  #platforms > h1 {
    font-size: calc(12px + 0.1em);
  }
  #submit {
    left: 27%;
    width: 20vw;
 
  }
  footer > p {
    font-size:calc(8px + 0.2em);
  }
  .extra {
    font-size:calc(8px + 0.2em);
  }
}

@media only screen and (min-width: 569px) and (max-width: 744px) {
  .navL {
    font-size: calc(15px + 0.1em);
  }
  #card1{
   right :24%;
  }
  #firstH {
    font-size: calc(15px + 0.5em);
  }
  #cardsHeader {
    font-size: calc(14px + 0.2em);
    top: -3%;
    right: 20%;
  }
  #p1 {
    font-size: calc(8px + 0.15em);
    bottom: 3%;
  }
  #card2{
    right:24%;
  }
  #cardsHeader2 {
    font-size: calc(14px + 0.2em);
    left:16%;
  }
  #p2 {
    font-size: calc(10px + 0.2em);
    line-height: 1.5em;
    left:16%;
  }
  #secondH {
    top:69.3%;
    left: 23%;
    font-size:calc(15px + 0.3em);)
  }
  #platforms {
    bottom: 11%;
  right:21%;
  }
  #platforms > h1 {
    font-size: calc(12px + 0.1em);
  }
  #submit {
    left: 30%;
    width: 16vw;
 
  }
  footer > p {
    font-size:calc(10px + 0.3em);

  }
  
}
@media only screen and (min-width: 745px) and (max-width: 1024px) {
  .navL {
    font-size: calc(14px + 0.1em);
  }
  #card1{
   right :26%;
  }
  #firstH {
    font-size: calc(20px + 0.5em);
  }
  #cardsHeader {
    font-size: calc(18px + 0.1em);
    top:1%;
  }
  #p1 {
    font-size: calc(11px + 0.15em);
    bottom: 3%;
  }
  #card2{
    right:26%;
  }
  #cardsHeader2 {
    font-size: calc(16px + 0.2em);
    left:23%;
  }
  #p2 {
    font-size: calc(11px + 0.2em);
    line-height: 1.7em;
    left:10%;
    bottom:20%;
  }
  #secondH {
    left: 24.5%;
  }
  #platforms {
    bottom: 11%;
  right:29.5%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  #cardsHeader{
    left:22%;
  }
  #p1 {
    font-size:calc(14px + 0.1em);
  }
  #cardsHeader2{
    left:15%;
    top:-10%;
  }
  #p2{
    font-size:calc(15px + 0.1em);
  }
  #secondH{
    top:69.5%;
    left:25%;
    font-size:calc(15px + 0.3em);
  }
  #platforms{
    font-size:calc(10px + 0.1em);
    right:31%;
  }
  #submit {
    left: 33.5%;
  }
}
