body {
  height: 100vh;
  width: 100vw;
  font-family: "Fira Sans", sans-serif;
  background: rgb(84, 71, 71);
  background: radial-gradient(
    circle,
    rgba(84, 71, 71, 1) 0%,
    rgba(8, 0, 0, 1) 100%
  );
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.socialMedia {
  position: absolute;
  right: 2%;
  top: 5%;
  font-size: calc(20px + 0.5em);
}

.socialMedia a {
  color: #fff;
  text-decoration: none;
}
/*Navbar Style*/
#navC {
  position: fixed;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  left: 2.5%;
  bottom: 5vh;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.navL {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 0 1.5em;
  font-size: calc(16px + 0.1em);
  font-weight: 600;
}
a.navL:hover {
  transform: translateY(-12%);
  transition: all 0.4s ease-in-out;
}
/* Loading Page style*/
.overLay {
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: all 1.5s ease;
  background: rgb(244, 248, 254);
  background: linear-gradient(
    180deg,
    rgba(244, 248, 254, 1) 0%,
    rgba(147, 146, 146, 1) 63%
  );
}

#handle {
  cursor: grab;
  position: absolute;
  height: 10vh;
  width: 1vw;
  top: 40%;
  right: 5%;
  border: 2px groove black;
  background: #c0c0c0;
  border-bottom-right-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  box-shadow: 2px 2px 1px 1px;
  transition: all 1s ease;
}
#h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: all 1s ease-in-out;
}
/*Welcome Box style */

.maindHeader {
  display: none;
}
#firstHeader {
  position: absolute;
  display: none;
  top: 5%;
  left: 5%;
  width: 10%;
  height: 10%;
  text-align: center;
  border-radius: 10px;
  border: 3px solid #f5f3ce;
  box-shadow: 5px 5px 0 0 #f5f3ce;
  animation: firstHeaderAnimation 3.5s 1;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes firstHeaderAnimation {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1) rotate(360deg);
  }
}
#h3 {
  color: #fff;
  font-size: calc(25px + 0.1em);
  display: none;
  transition: all 1s ease;
}
/* Main Home Content */
#information {
  position: relative;
}
#hello {
  position: absolute;
  top: 5vh;
  left: 18vw;
  font-size: calc(80px + 1em);
  color: #fff;
  opacity: 0;
}

#pInfo {
  position: absolute;
  top: 22vh;
  left: 18vw;
  font-size: calc(80px + 1em);
  opacity: 0;
}
@supports (-webkit-text-stroke: 5px #fff) {
  #pInfo {
    -webkit-text-stroke: 1px #fff;
  }
}
/* Junior Front End Developer available from 22*/
.mainOverlay {
  position: absolute;
  left: 18vw;
  bottom: 10%;
  width: 16vw;
  height: 32vh;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 5px solid #f5f3ce;
  border-right-width: 0;
  border-top-width: 0;
  animation: overlay2 5s 1;
  transition: all 1s ease;
}

@keyframes overlay2 {
  0% {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 5px solid #f5f3ce;
    border-right-width: 0;
    border-top-width: 0;
    transform: scale(0);
  }
  10% {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 5px solid greenyellow;
    border-right-width: 0;
    border-top-width: 0;
  }
  20% {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 5px solid #6723b6;
    border-right-width: 0;
    border-top-width: 0;
  }
  30% {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 5px solid #d82561;
    border-right-width: 0;
    border-top-width: 0;
  }
  40% {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 5px solid #614064;
    border-right-width: 0;
    border-top-width: 0;
  }
  50% {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 5px solid #2299a8;
    border-right-width: 0;
    border-top-width: 0;
  }
  80% {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 5px solid #ff551c;
    border-right-width: 0;
    border-top-width: 0;
    transform: scale(1);
  }
  100% {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 5px solid #f5f3ce;
    border-right-width: 0;
    border-top-width: 0;
  }
}
/* available dates */
#availableDate {
  color: #fff;
  position: absolute;
  left: 65%;
  top: -45%;
  font-size: calc(90px + 1em);
}
#availableMonth {
  color: #fff;
  position: absolute;
  left: 108%;
  top: 2%;
  font-size: calc(30px + 0.2em);
}
#availableText {
  color: #fff;
  position: absolute;
  left: 106%;
  top: 27%;
}

#infoOverlay {
  color: #fff;
  position: absolute;
  font-size: calc(40px + 0.1em);
  left: 20%;
  top: 5%;
  opacity: 0;
}

#infOverlay2 {
  color: #fff;
  position: absolute;
  font-size: calc(40px + 0.1em);
  left: 20%;
  top: 22%;
  opacity: 0;
}
#infoOverlay3 {
  color: #fff;
  position: absolute;
  font-size: calc(40px + 0.1em);
  left: 20%;
  top: 40%;
  opacity: 0;
}
/*Vertical Lines  */

#verticalLine {
  position: absolute;
  right: 10vw;
  background-color: #fff;
  height: 90vh;
  width: 1vw;
  transform: translateY(-100%);
}
#verticalLine2 {
  position: absolute;
  right: 15vw;
  background-color: #fff;
  height: 90vh;
  width: 1vw;
  transform: translateY(-100%);
}
#verticalLine3 {
  position: absolute;
  right: 20vw;
  background-color: #fff;
  height: 90vh;
  width: 1vw;
  transform: translateY(-100%);
}
/* footer side */
footer > p {
  position: absolute;
  bottom: 1%;
  left: 5%;
  color: #fff;
  display: none;
}
.extra {
  position: absolute;
  right: -83vw;
  display: none;
  cursor: pointer;
}

footer > p:hover .extra {
  display: inline-block;
}
